management/management/__pycache__/__init__.cpython-39.pyc
management/management/__pycache__/settings.cpython-39.pyc
management/management/__pycache__/urls.cpython-39.pyc
management/management/__pycache__/wsgi.cpython-39.pyc
