{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}




<h1>Client List</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>City</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>{{ client.name }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.phone }}</td>
      <td>{{ client.city }}</td>
      <td>{{ client.state }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


  